.nav-bg {
  background: linear-gradient(rgb(236, 241, 241), rgb(176, 221, 241));
}
.slider {
  background: linear-gradient(rgb(240, 245, 245), rgb(176, 221, 241));
}
body {
  padding-top: 56px;
}

.nav-bg {
  background-color: #ffffff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  font-weight: bold;
}

.offcanvas-body .nav-link {
  font-size: 18px;
  padding: 10px 0;
}

.nav-icons a {
  margin-left: 12px;
}

  #mycard>div{
margin: auto;
width:23%;
/* width: 90vh; */
  
}
  #mycard>div>img{
margin: auto;
width:90%;
height: 40%;
/* border: 2px solid red; */
object-fit: cover;
/* width: 90vh; */
  
}
#mycard>div:hover{
 -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
-moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
}
@media (max-width: 600px) {
  #mycard>div{
margin: auto;
width: 90vh;
  
}
}